<!-- Topic:13. Create a web page using angular to input details for a club membership.-->
<div class="top">
  <h3>Registration No : 11811480</h3>
  <h3>Name : Manish Das</h3>
  <h3>Section : D1801</h3>
</div>

<hr class="space">

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <!-- Style Binding-->
      <h4 [style.font-size.px]="fontSize" class="text-left">Club Membership Registration</h4>
      <p class="text-left">Complete the form below to sign up for our membership service.</p>
      <hr>
      <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
        <div class="form-group">
          <div class="row">
            <!--Two Way Data binding to sync usernamewith this welcome message-->
            <div class="col-lg-12 m-2">
              <h2>Welcome {{namex}} {{lasttname}} Please fill form the form to join our club</h2>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <label class="boxtext" for="username">First Name</label>
              <input class="form-control" type="text" name="namex" ngModel #namee="ngModel" maxlength="15" minlength="3"
                required placeholder="firstname" [(ngModel)]="namex" pattern="[A-Z]+[a-z]+[a-z]">
              <div *ngIf="!namee.valid && (namee.dirty || namee.touched)" class="alert alert-danger">
                <div *ngIf="namee.errors.required">
                  First Name is required.
                </div>
                <div *ngIf="namee.errors.minlength">
                  First Name cannot be more than 15 characters long.
                </div>
                <div *ngIf="namee.errors.minlength">
                  Name must be at least 3 characters long.
                </div>
                <div *ngIf="namee.errors?.pattern">This is not a valid Name!</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="boxtext" for="username">Last Name</label>
              <input class="form-control" type="text" name="lastname" id="lastname" [(ngModel)]="lasttname" ngModel
                #lastname="ngModel" placeholder="lastname" pattern="[A-Z]+[a-z]+[a-z]">
              <div *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors?.pattern">This is not a valid Last Name!</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <label class="boxtext1" for="email">Email</label>
              <input class="form-control" type="email" name="email" ngModel #email="ngModel"
                pattern="[a-z0-9]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <div *ngIf="!email.valid && (email.dirty || email.touched)">
                <p *ngIf="email.errors?.required" class="alert alert-danger">Email is required!</p>
                <p *ngIf="email.errors?.pattern" class="alert alert-danger">This is not a valid Email!!!</p>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="form-group col-lg-12">
              <label for="inputState">State & Capital</label>
              <select id="inputState" class="form-control" id='state' name='state' ngModel #state="ngModel"
                [(ngModel)]="nameSelected" [(ngModel)]="capitalAssigned" required>
                <option *ngFor="let item of data" [value]="item.name" [value2]="item.capital">
                  {{item.name}} &nbsp; - &nbsp; {{item.capital}}
                </option>
              </select>
              <div *ngIf="!state.valid && (state.dirty || state.touched)" class="alert alert-danger">
                <div *ngIf="state.errors.required">
                  State is required.
                </div>
                <div *ngIf="name.errors.minage">
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-6">
              <label class="boxtext2" for="password">Password</label>
              <input class="form-control" type="password" ngModel name="password" #password="ngModel" required
                maxlength="16" minlength="8" placeholder="******" pattern="[A-Z]+[a-z]+[._!@#$%^&*+-]">
              <div *ngIf="!password.valid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                  Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                  Password cannot be more than 16 characters long.
                </div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 8 characters long.
                </div>
                <div *ngIf="password.errors?.pattern">Password Should start with Capital letter and
                  special character!</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="boxtext2" for="password">Age</label>
              <input class="form-control" type="text" ngModel name="age" #age="ngModel" required maxlength="2"
                minlength="2" maxlength="3" placeholder="Enter your age" pattern="[1-9]+[0-9]">
              <div *ngIf="!age.valid && (age.dirty || age.touched)">
                <div *ngIf="age.errors?.required" class="alert alert-danger">Age is required!</div>
                <div *ngIf="age.errors?.pattern" class="alert alert-danger">This is not a valid Age!</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <!-- Style Binding-->
              <p [style.font-weight]="max">Where did you hear about us?</p>
            </div>
          </div>
          <div class="row t">
            <div class="col-lg-12">

              <input class="form-check-input" type="radio" value="choice1" name="op1" ngModel><label>Friend or
                colleauge</label>
              <br>
              <input class="form-check-input" type="radio" value="choice2" name="op1" ngModel
                required><label>Google</label><br>
              <input class="form-check-input" type="radio" value="choice3" name="op1" ngModel><label>Blog
                Post</label><br>
              <input class="form-check-input" type="radio" value="choice4" name="op1" ngModel><label>News
                Article</label><br>
            </div>
          </div>

          <hr>
          <br>

          <div class="row">
            <div class="col-lg-12">
              <h5>Membership Rules</h5>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-12">
              <br>
              <p>1. Membership is available to anyone 18 years of age or older.</p>
              <p>2. You promise NOT to use to conduct any fraudulent or business activity or have more than one Member
                Account at any time.</p>
              <br><br>
            </div>
          </div>
          <div class="row t">
            <div class="col-lg-12">
              <input class="form-check-input" type="checkbox" name="t&c" ngModel required><label class="leadd">I have
                read,
                understood, and accepted
                the rules for
                membership.</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button class="btn btn-primary" routerLink="message" [disabled]="!signupForm.valid">Submit
                Application</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <div *ngIf="showMessage">
                <h4 [class]='slidein'>Thank You {{namex}} {{lasttname}} for registration</h4>
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>